// Zuerst eigene Variablen setzen
$primary: #582af5;
$body-bg: #fefdfb;
$body-color: #1b1919;
$light: #e3e3fb;


// Bootstrap-Funktionen, Variablen und Mixins importieren
@import "/home/lukas/liac2/project4/node_modules/bootstrap/scss/functions";
@import "/home/lukas/liac2/project4/node_modules/bootstrap/scss/variables";
@import "/home/lukas/liac2/project4/node_modules/bootstrap/scss/mixins";

// COLORS FROM HUEMINT: https://huemint.com/website-magazine/#palette=fefdfb-e3eafb-1b1919-582af5

// Bootstrap mit den neuen Variablen kompilieren
@import "/home/lukas/liac2/project4/node_modules/bootstrap/scss/bootstrap";

.list-group-item-action:hover {
    background-color: $light !important;
}