/* Styles.css code */
img {
    width: 80px;
    height: auto;
    margin-right: 15px;
}
a.navbar-brand {
    font-size: 25px;
}
nav {
    font-size: 20px;
}

/* Über uns styles */
.head-box {
    background-color: #FFBD00;
    border-radius: 20px;
    margin-bottom: 40px;
}
.display-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.song {
    margin-bottom: 30px;
}
.song-div {
    margin-bottom: 40px;
}
