/* Styles.css code */
img {
    width: 80px;
    height: auto;
    margin-right: 15px;
}
a.navbar-brand {
    font-size: 25px;
}
nav {
    font-size: 20px;
}

/* termine.css code */
#termine {
    padding-top: 10px;
    padding-bottom: 10px;
}
.back {
    background-color: #FFBD00;
    border-radius: 20px;
    margin-bottom: 40px;
}
