{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="new_post_div" class="p-4 mt-4 bg-body-tertiary border rounded-3">
            <h1 class="text-center mb-3">New Post</h1>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Create a post" id="new_post_input"></textarea>
                <label for="new_post_input">Create a Post</label>
                <button type="submit" id="post_btn" class="btn btn-primary mt-2">Post</button>
            </div>
        </div>
    {% endif%}
    <div class="posts-view list-group mt-5">

    </div>
    <div id="profile">

    </div>
{% endblock %}