{% extends "network/layout.html" %}

{% block body %}

    <h2 class="fs-1 fw-semibold  text-center mt-4 mb-5 bg-primary bg-gradient pt-1 pb-2 d-block w-50 mx-auto rounded text-white">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            
            <input autofocus class="form-control mb-2" type="text" name="username" placeholder="Username">
            <input class="form-control mb-2" type="password" name="password" placeholder="Password">
            <input class="btn btn-primary mb-2" type="submit" value="Login">
        </div>
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}