// Own variables
$subtitle: 2rem;

$primary: #F66C15;
$secondary: #30A091;
$secondary-opt: #5C1C96;
$tertiary: #A5ADAB;
$ligth: #F8F8F6;
$ligth-opt: #EAE5DE;
$dark: #322A28;

$gradient-1: #FBAA21;
$gradient-2: #F98822;
$gradient: linear-gradient(to right, $gradient-1, $gradient-2, $primary);

// custom variables
$h1-font-size: 4.5rem;
$h2-font-size: 4.5rem;
$h3-font-size: 2.5rem;
$h4-font-size: $subtitle;



// import functions & variables
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

// custom themes
$custom-theme-colors: (
    "modern": #c0591d,
    "vintage": #1d1d1d
);

// merge themes
$theme-colors: map-merge($custom-theme-colors, $theme-colors);


// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// CSS code

// Fonts
body {
    font-family: 'Inter', sans-serif;
}

// Sections background 
main > :nth-child(even){
    background-color: $ligth;
}

// h1{
//     font-family: 'Irish Grover', sans-serif;
//     font-size: 5rem;
//     font-weight: 400;
// }
// strong{
//     font-family: 'Irish Grover', sans-serif;
//     font-size: 5rem;
//     font-weight: 400;

// }




// Navbar
.logo {
    width: 80px;
    height: auto;
    margin-right: 15px;
}
a.navbar-brand {
    font-size: 25px;
}
nav {
    font-size: 20px;
}
.nav-item{
    padding-left: 1rem;
}
.rounded {
    border-radius: $border-radius-2xl !important;
}
.margin-section {
    margin-bottom: 7rem;
}
@include media-breakpoint-down(sm) {
    .margin-section {
        margin-bottom: 3rem;
    }
}
// Hero
.hero{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
    // padding: 0;
}
.hero-1{
    width: 530px;
    align-self: center;
}
// Responsive Button
@include media-breakpoint-down(md) {
    .btn-lg{
        padding: .375rem .75rem;
        font-size: $font-size-sm;
    }
}
.img-hero {
    width: 100%;
    height: auto;
    // height: 673px !important;
    // width: auto !important;
    border-radius: 28px;
}


// LARGE 
@media (max-width: 1861px) {
    .hero-2{
        display: none;
    }
}

// MEDIUM
@media (max-width: 1289px) {
    .hero-3{
        display: none;
    }
    .hero-2{
        display: block;
    }
}

// SMALL
@media (max-width: 1110px) {
    .hero{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .hero > div{
        flex: 1;
    }
    .hero-1{
        margin-top: 30px;
        width: 100%;
        max-width: 50rem;
        align-self: center;
    }
    .hero-1 > a {
        align-self: start;
    }
    .hero-2{
        display: none;
    }
    // .hero-2{
    //     width: 95%;
    //     max-width: 523.99px;
    //     height: auto;
    //     align-self: center;
    // }
    .hero-3{
        display: block;
    }
}

// Über Uns
.wir{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem 3rem 1.5rem 7rem;
    gap: 1rem;
}
.wir-item-1{
    max-width: 50rem;
    flex: 5 1 40rem;
}
.wir-item-2{
    max-width: 40rem;
    margin: 2rem 4rem;
    flex: 1 1 25rem;
}
@include media-breakpoint-down(xxl) {
    .wir{
        flex-direction: column;
        padding: 1.5rem 2rem;
    }
    .wir-item-1{
        flex-basis: 0;
    }
    .wir-item-2{
        margin: 0;
        flex-basis: 0;
        padding: 0 2rem;
    }
}
@include media-breakpoint-down(sm) {
    .wir{
        padding: 1.5rem 1rem;
    }
    .wir-item-1{
        flex-basis: 0;
    }
    .wir-item-2{
        padding: 0 1.5rem;
    }
}
// Mitglieder
// .mitglied-img{
//     // width: 50% !important;
//     // height: 300px !important;
//     // object-fit: cover;
// }
// .mitglieder{
//     width: 50% !important;
    // height: 300px !important;
    // object-fit: cover;
// }

// Was uns ausmacht
.collage{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
}
.collage-section-1,
.collage-section-2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    flex: 1;
    max-width: 90%;
}
.collage-item-3,
.collage-item-6{
    width: 90%;
    align-self: center;
}

.collage-item-2,
.collage-item-5{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.collage-img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

@include media-breakpoint-down(xl) {
    .collage-item-3,
    .collage-item-6{
        width: 90%;
    }

    .collage-item-2,
    .collage-item-5{
        max-width: 33rem;
    }
}

@include media-breakpoint-up(xl){
    .collage{
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
        padding: 0 4rem;
        gap: 5rem;
        max-width: 87rem;
    }
}

// Termine
.termine{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2rem;
    gap: 1rem;
}
.card{
    min-width: 10rem;
    max-width: 20rem;
    flex: 1;
}
@include media-breakpoint-down(md) {
    .termine{
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .card{
        flex: 1;
        max-width: 27rem;
        width: 100%;
    }
}

.link-none {
    text-decoration: none;
    color: black;
}
.link-none:hover {
    color: black !important;
}

// Footer
.icon {
    font-size: 2rem;
}
.footer {
    padding-left: 1rem;
    padding-right: 1rem;

}


// Sections padding
main > div{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
main > :last-child{
    padding-bottom: 24px;
}
.footer{
    margin-top: 0 !important;
}